@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

@import './abstract';
@import './components/sidenav';
@import './components/main';
@import './components/card';
@import './components/dropdown';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 67.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: $main-dark;
  box-sizing: border-box;
  font-weight: 400;
}

ul {
  list-style: none;
}

#dashboard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* start sidebar code */
  > aside {
    @include sidenav;
  }
  /* end sidebar code */

  /* start content code */
  > main {
    // @include main;
    padding-left: 24rem;
    height: 100vh;
    background-color: $white;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    @include nicescroll($sidenav-bg);

    #content {
      padding: 4rem 4rem 0;

      nav {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;
        ul {
          display: flex;
          li {
            margin: 0 0.7rem;
            height: 3.5rem;
            width: 3.5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            cursor: pointer;
            color: #aaa;
            transition: background-color $duration linear,
              color $duration linear;
            position: relative;
            i {
              font-size: 1.7rem;
            }
            .notification {
              height: 5px;
              width: 5px;
              border-radius: 50%;
              background-color: $notification;
              position: absolute;
              top: 6px;
              right: 8px;
              transition: background-color $duration linear;
            }
            &:hover {
              background-color: lighten($sidenav-bg, 7);
              color: $white;
              .notification {
                background-color: $white !important;
              }
            }
          }
        }
      }

      > div:first-of-type {
        margin-bottom: 3rem;
        > div:nth-of-type(1) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 3rem;
          h2 {
            font-weight: 900;
            font-size: 2.7rem;
          }
          ul {
            display: flex;
            li {
              margin: 0 1rem;
              cursor: pointer;
              font-weight: 700;
              transition: color $duration linear;
              color: lighten($main-dark, 20);
              font-size: 1.3rem;
              position: relative;
              padding-bottom: 10px;
              &::after {
                transform: rotateY(90deg);
                transition: transform $duration linear;
                position: absolute;
                bottom: 0;
                left: calc(50% - 1.5rem);
                content: '';
                background-color: $sidenav-bg;
                border-radius: 5px;
                height: 3px;
                width: 3rem;
              }
              &:hover,
              &.active {
                color: $sidenav-bg;
                &::after {
                  transform: rotateY(0);
                }
              }
            }
          }
        }

        > div:nth-of-type(2) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          > div {
            flex-basis: 25%;
            padding: 0 1.5rem;
            > div {
              box-shadow: $shadow;
              padding: 3rem 2rem;
              background-color: #77d776;
              border-radius: 1rem;
              color: white;
              display: flex;
              justify-content: space-between;
              position: relative;
              z-index: 1;
              &::after,
              &::before {
                z-index: -1;
                content: '';
                height: 50px;
                width: 50px;
                border-radius: 50%;
                position: absolute;
                top: 2px;
                left: -23px;
                background: rgba($white, 0.2);
              }
              &::before {
                top: -16px;
                left: 1px;
              }
              > div:first-of-type {
                h5 {
                  font-size: 1.6rem;
                  color: $white;
                  text-transform: capitalize;
                  margin-bottom: 2rem;
                }
                p {
                  span {
                    font-weight: 700;
                    font-size: 2.5rem;
                    letter-spacing: 2px;
                  }
                  i {
                    font-size: 1.6rem;
                    margin-left: 0.7rem;
                    transform: translateX(-0.5rem);
                  }
                }
              }
              > div:last-of-type {
                i {
                  height: 70px;
                  width: 70px;
                  border-radius: 50%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: rgba($white, 0.3);
                  font-size: 3rem;
                }
              }
            }
            &:nth-of-type(2) > div {
              background-color: #919eff;
            }
            &:nth-of-type(3) > div {
              background-color: #ff86ec;
            }
            &:nth-of-type(4) > div {
              background-color: #feb177;
            }
          }
        }
      }
    }

    #charts-section {
      display: flex;
      justify-content: space-around;
      margin-bottom: 3rem;
      > div {
        padding: 1.5rem;
        flex-basis: calc(60% - 3rem);
        header .types {
          display: flex;
          margin-right: 3rem;
          > p {
            position: relative;
            line-height: 2.1;
            font-size: 1.2rem;
            color: lighten($main-dark, 20);
            &::before {
              position: absolute;
              content: '';
              height: 6px;
              width: 6px;
              border-radius: 50%;
              background-color: #feb177;
              top: calc(50% - 3px);
              left: -1.5rem;
            }
            &:last-of-type {
              margin-left: 4rem;
              &::before {
                background-color: #919eff;
              }
            }
          }
        }
      }
      > div:last-of-type {
        flex-basis: calc(40% - 3rem);
        > div:first-of-type {
          text-align: center;
          > div {
            display: inline-block;
            position: relative;
            > p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-weight: 700;
              font-size: 2.7rem;
              > span {
                font-size: 1.8rem;
                color: lighten(#333, 20);
                font-weight: 400;
                display: block;
              }
            }
          }
        }

        > div:last-of-type {
          display: flex;
          > div {
            width: 100%;
            padding: 1.5rem 0.5rem;
            text-align: center;
            > p {
              &:first-of-type {
                display: inline-block;
                color: lighten(#333, 20);
                text-transform: capitalize;
                font-size: 1.6rem;
                padding-left: 0.6rem;
                position: relative;
                &::before {
                  position: absolute;
                  content: '';
                  top: calc(50% - 5px);
                  left: -10px;
                  height: 10px;
                  width: 10px;
                  border-radius: 3px;
                  background-color: dodgerblue;
                  box-shadow: $shadow;
                }
              }

              &:nth-of-type(2) {
                font-weight: 700;
                font-size: 2.5rem;
              }
              &:nth-of-type(3) {
                font-size: 1.4rem;
                color: lighten(#333, 20);
              }
            }
            &:nth-of-type(2) p:first-of-type::before {
              background-color: #feb177;
            }
            &:nth-of-type(3) p:first-of-type::before {
              background-color: #77d776;
            }
          }
        }
      }
    }

    #table {
      margin-bottom: 5rem;
      padding: 0 15px;
      header {
        margin-bottom: 3rem;
      }
      .table {
        overflow: auto;
        max-height: 500px;
        @include nicescroll($sidenav-bg);
        > div {
          padding: 1.5rem 0;
          display: flex;
          border-bottom: 1px solid rgba(lighten(#333, 5), 0.1);
          align-items: center;
          min-width: 900px;
          > div {
            flex-basis: 100%;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: capitalize;
          }
        }
        .table-row > div {
          font-weight: 400;
          font-size: 1.15rem;
        }
      }
    }
  }
  /* end content code */
}
