@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

@import './abstract';
@import './components/sidenav';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 67.5%;
}

body {
  font-family: 'Lato', sans-serif;
  color: $main-dark;
  box-sizing: border-box;
  font-weight: 400;
}

ul {
  list-style: none;
}

#dashboard {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  /* start sidebar code */
  > aside {
    @include sidenav;
  }
  /* end sidebar code */

  /* start content code */
  > main {
    padding-left: 24rem;
    height: 100vh;
    background-color: $white;
  }
  /* end content code */
}
